.wpackio-docsidebarnav {
	position: relative;
	width: 100%;
	.menu-label {
		a {
			color: #7a7a7a;
			&.is-active {
				color: #cc2366;
			}
		}
	}
	& &__toc {
		font-size: 12px;
		font-family: 'dm', monospace;
		a {
			padding: 6px;
		}
	}
}
