{
	"root": true,
	"extends": "@wpackio/eslint-config",
	"rules": {
		"prettier/prettier": "off",
		"react/jsx-filename-extension": "off",
		"react/prop-types": "off",
		"import/prefer-default-export": "off",
		"jsx-a11y/anchor-is-valid": "off",
		"react/destructuring-assignment": "off",
		"jsx-a11y/accessible-emoji": "off"
	}
}
