.wpackio-feature {
	& &__icon {
		text-align: center;
		svg {
			max-width: 100%;
			height: auto;
		}
		margin-bottom: 1rem;
	}

	& &__title {
		font-family: 'dm', monospace;
		text-align: center;
		font-style: italic;
	}
}
