.wpackio-hero {
	// Gradient of instagram
	// background: linear-gradient(
	// 	45deg,
	// 	#f09433 0%,
	// 	#e6683c 25%,
	// 	#dc2743 50%,
	// 	#cc2366 75%,
	// 	#bc1888 100%
	// );
	// background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
	background-image: linear-gradient(135deg, #f761a1 10%, #8c1bab 100%);

	// title
	& &__title.title {
		color: #fff;
		font-family: 'dm', monospace;
		text-align: center;
		margin: 0 0 5rem;
	}

	// Subtitle
	& &__subtitle.subtitle {
		color: #fff;
		font-family: 'dm', monospace;
		text-align: center;
		margin: 0 0 2rem;
		em {
			text-decoration: underline;
			font-weight: bold;
		}
	}

	// CTA
	& &__ctas {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

	& &__cta {
		display: block;
		flex: 0 0 250px;
		width: 250px;
		margin: 8px;
		text-transform: uppercase;
		font-size: 1.25rem;
		height: auto;
		padding: 0.5em 0.75em;
	}
}
