@import '~bulma/sass/utilities/all';

.site-header {
	background: #fff;
	height: 3.625rem;
	border-bottom: 1px solid #ebedee;

	.navbar-burger {
		height: 3.625rem;
	}

	.navbar-brand {
		.navbar-item {
			padding: 0 1rem;
			h1 {
				line-height: 3.625rem;
				.wpackio-logo-text {
					position: relative;
					top: -2px;
				}
			}
		}
	}

	& &__logo {
		display: flex;
		align-items: center;
		img,
		svg {
			margin-right: 8px;
		}
		span {
			font-size: 1.75em;
			// line-height: 1;
		}
	}

	& &__main-nav {
		.navbar-item {
			text-transform: uppercase;
			font-family: 'dm', monospace;
			font-weight: bold;
		}
	}
	& &__search {
		@media screen and (min-width: $desktop) {
			.navbar-item {
				padding-right: 1rem;
			}
		}
	}
	& &__social-nav {
		display: flex;
		position: absolute;
		top: 0;
		right: 4rem;
		a.navbar-item {
			font-size: 20px;
			padding: 0 1rem;
			height: 3.625rem;
			align-items: center;
			justify-content: center;
			display: none;
		}

		@media screen and (min-width: 340px) {
			a.navbar-item {
				display: flex;
				color: fade-out(#cc2366, 0.2);
				transition: color 150ms ease-in-out;
				&:hover {
					color: #cc2366;
				}
			}
		}

		@media screen and (min-width: $desktop) {
			margin-left: 0.5rem;
			position: static;
			top: auto;
			right: auto;
		}
	}
}
