.site-header {
	background: #fff;
	height: 3.625rem;
	border-bottom: 1px solid #ebedee;

	& &__logo {
		display: flex;
		align-items: center;
		img,
		svg {
			margin-right: 8px;
		}
		span {
			font-size: 1.75em;
			// line-height: 1;
		}
	}

	& &__main-nav {
		.navbar-item {
			text-transform: uppercase;
			font-family: 'Dank Mono';
			font-weight: bold;
		}
	}
}
