code,
pre,
code[class*='language-'],
pre[class*='language-'] {
	font-family: 'Dank Mono', monospace;

	// Some niceness
	.token.keyword {
		font-style: italic;
	}
	.token.constant {
		font-weight: bold;
	}
}

em,
strong {
	font-family: 'Dank Mono', cursive;
}

code {
	background: transparent;
	padding: 0;
	font-size: 1em;
}

strong code,
code strong {
	font-weight: bold;
}

em code,
code em {
	font-style: italic;
}

a code,
code a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

pre {
	background: #29323c;
	color: #fff;
}

body {
	font-size: 16px;
}

.site-main {
	padding-top: 3.625rem;
}

.site-footer {
	padding-bottom: 2rem;
}

// Main logo
.wpackio-logo-text {
	font-family: 'Dank Mono';
	font-weight: normal;
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.title,
.subtitle {
	font-family: 'Dank Mono';
	.wpackio-logo-text {
		font-weight: normal;
	}
}

.content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Dank Mono';
	}
}
